<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style> 
    * {
        margin: 0;
        padding: 0;
    }
    .imgbox {
        display: grid;
        height: 600px;
    }
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
    </style>
</head>
<body>
    <center class="center-fit">
        <h1>===== 4o4 Page =====</h1>
        <h2>looking for {{dir_path}} ?</h2>
        <img class="imgbox" src="data:image/jpg;base64,{{img_data}}" width="25%" alt="404 Image" >
    </center>
    </body>
</html>